<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" safemode="true"/>
    <requiredRuntime version="v2.0.50727" safemode="true"/>
  </startup>
  <filterSettings>
    <add key="UsersFilter" value="mail,accountExpires,distinguishedName,sAMAccountName,givenName,sn,description,userAccountControl,pwdLastSet,whenCreated,whenChanged,lastLogonTimestamp"/>
    <add key="ComputersFilter" value="distinguishedName,sAMAccountName,name,description,operatingSystem,operatingSystemServicePack,operatingSystemVersion,whenCreated,whenChanged,lastLogon,pwdLastSet" />
    <add key="GroupFilter" value="name,distinguishedName,sAMAccountName,groupType,whenCreated,whenChanged"/>
    <add key="AdminSDHolder" value="(&amp;(name=AdminSDHolder)(objectCategory=Container))" />
    <add key="OU" value="(objectclass=organizationalunit)" />
    <add key="LoggingLevel" value="2" />
  </filterSettings>
  <excelSettings>
    <add key="ReportName" value="Active Directory Attack Surface" />
    <add key="HyperLinkcompanyName" value="https://www.nccgroup.trust,http://windowstips.wordpress.com" />
    <add key="CompanyLogo" value="images\NCCLogo.png" />
    <add key="CompanyLogoFront" value="images\NCC-logoFront.png" />
    <add key="CompanyUserTopLeft" value="images\User.png" />
    <add key="Debug" value="False" />
  </excelSettings>
  <tableFormatting>
    <add key="Style" value="TableStyleDark3" />
  </tableFormatting>
  <HeaderStyle>
    <add key="1033" value="Heading 3" />
    <add key="3082" value="Título 3" />
  </HeaderStyle>
  <eventSettings>
    <add key="2k8SecFailedEvents" value="4771,4768,4769,4776,4625" />
    <add key="2k8SucFailedEvents" value="4774,4776,4778,4779,4624,4647,4648,4778,4779" />
  </eventSettings>
</configuration>